/*
 * Basics
 */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

::selection {
  background: #ccc;
}

::-moz-selection {
  background: #ccc;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Gilda Display";
  font-size: 22px;
  letter-spacing: 0.02em;
  line-height: 1.45;
  color: #333;
}

h1, h2, h3, h4,
h5, h6 {
  margin-bottom: 18px;
  font-family: "Fjalla One";
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  margin: -16px 0 26px;
  color: #666;
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 22px 0;
}

ol,
ul {
  margin: 44px 0;
}

ul ul,
ol ol {
  margin: 0;
  padding-left: 44px;
}

li {
}

a {
  text-decoration: none;
  color: #399;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  margin: 44px 0;
  padding: 11px;
  line-height: 1;
  background: #333;
  color: #fff;
}

code {
  font-family: "Source Code Pro";
  font-size: 18px;
  background: #eee;
  color: #399;
}

pre > code {
  font-size: 14px;
  background: none;
  color: inherit;
}

q {
  font-style: italic;
  color: #666;
}

blockquote {
  margin: 44px 0 44px -5.555555555%;
  padding-left: 5.555555555%;
  font-style: italic;
  border-left: 4px solid #333;
}

img + cite {
  display: block;
  font-size: 14px;
  text-align: center;
}

blockquote cite::before {
  color: #666;
  content: "– ";
}

blockquote cite {
  display: block;
  text-align: right;
}

cite {
  font-style: italic;
  color: #666;
}

hr {
  border-color: #ccc -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  width: 50%;
  margin: 44px auto;
}

.wrapper {
  margin: 0 auto;
  width: 720px;
  max-width: 90%;
}

/*
 * Header
 */

header {
  margin-bottom: 70px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-family: "Fjalla One";
  font-size: 14px;
  box-shadow: 0 0 2px #ccc;
}

header ul {
  margin: 0;
  list-style-type: none;
  text-align: right;
}

header li {
  display: inline-block;
  padding: 0 14px;
}

header a,
footer a {
  color: #666;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  color: rgba(0,0,0,.8);
}

/*
 * Footer
 */

footer {
  height: 70px;
  font-family: "Fjalla One";
  font-size: 14px;
  color: #ccc;
  text-align: center;
  line-height: 70px;
  border-top: 1px dotted #ccc;
}

.sticky {
  min-height: 100%;
  margin-bottom: -70px;
}

.sticky:after {
  content: "";
  display: block;
  height: 70px;
}

